.container {
    padding: 50px;
}

.container:nth-child(2n - 1) {
    background-color: #222;
    color: #fff;
}

.container>h2 {
    color: gray;
    margin-bottom: 30px;
}

.container__block {
    display: grid;
    gap: 30px;
}